.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button, input {
  font-size: calc(10px + 2vmin);
}

input[type="text"] {
  outline: none;
  border: none;
  color: rgb(12, 12, 12);
  padding: 1rem 1.2rem;
  border-radius: 10px 0 0 10px;
  width: 60vw;
  max-width: 500px;
  /* border: 2px solid rgb(0, 38, 255); */
}

button {
  padding: 1rem;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
  border-radius: 10px;
}
button[type="submit"] {
  border-radius: 0 10px 10px 0;
  width: 20vw;
  max-width: 50px;
}

.random-article {
  /* margin: 10px auto; */
  color: white;
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(98, 0, 255));
}

.search-icon:before {
  background: linear-gradient(to bottom, rgb(0, 195, 255), rgb(74, 33, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}
.heading {
  position: absolute;
  top:0;
  /* color: red; */
}​